<h1>About 7Music</h1>

<h2>Creating a new project
django-admin startproject projectname
Add an app to a project
python3 manage.py startapp appname
Starting the server
python3 manage.py runserver
Creating migrations
python3 manage.py makemigrations
Migrate the database
python3 manage.py migrate
Creating a Super User for the admin panel
python3 manage.py createsuperuser
Collecting static files into one folder
python3 manage.py collectstatic</h2>
<br>

<h2><a href="{% url 'home' %}">Return Home</a></h2>
<br>
